.content
    @extends $container

    // Typography.
    font-family theme('fontFamily.sans')
    font-size theme('fontSize.lg')
    @media md
        font-size theme('fontSize.xl')

    // Remove title and magnify introduction.
    > h1:first-of-type
        display none
    > p:first-of-type
        font-size theme('fontSize.xl')
        @media md
            font-size theme('fontSize.2xl')

    // Code bleeds out of the container.
    div[class*="language-"]
        @extends $bleed
        border-radius 0
        align-self stretch
        pre, pre[class*="language-"]
            @extends $container

    // Helpers to constraint image size
    @media sm
        for i in 1..10
            img[src$={'"#w' + (i * 10) + '"'}]
                max-width i * 10% !important
