$container
    width 100%
    max-width theme('screens.md')
    margin-right auto
    margin-left auto
    padding-left theme('padding.4')
    padding-right theme('padding.4')

$container-lg
    @extends $container
    @media lg
        max-width theme('width.bleeding-out-of-container-sm')
    @media xl
        max-width theme('width.bleeding-out-of-container')

$bleed
    display block
    margin theme('margin.6') theme('margin.-8')
    @media md
        margin theme('margin.6') auto
    @media xl
        margin theme('margin.6') theme('margin.-12')

.container
    @extends $container

.container-lg
    @extends $container-lg

.bleed
    @extends $bleed
