$normal
    margin-left theme('margin.8')
    margin-right theme('margin.8')
    @media md
        margin-left auto
        margin-right auto
        // padding-left theme('padding.6')
        // padding-right theme('padding.6')
        max-width theme('maxWidth.xl')
    @media lg
        max-width theme('maxWidth.3xl')

$wide
    margin-left theme('margin.0')
    margin-right theme('margin.0')
    @media md
        margin-left auto
        margin-right auto
        max-width theme('maxWidth.xl')
    @media lg
        max-width theme('maxWidth.4xl')

$container
    > p, ul, ol, blockquote, h1, h2, h3, h4, h5, h6, pre, code, table
        @extends $normal

    > img, iframe, .bleed
        @extends $wide

    // > p > img
        // @extends $wide
        // @media md
            // margin-left theme('margin.-6')

    > div[class*="language-"]
        margin-left theme('margin.0')
        margin-right theme('margin.0')
        border-radius 0

.content
    @extends $container

    // Typography.
    font-family theme('fontFamily.sans')
    font-size theme('fontSize.lg')
    @media md
        font-size theme('fontSize.xl')

    // Remove title and magnify introduction.
    > h1:first-of-type
        display none
    > p:first-of-type
        font-size theme('fontSize.xl')
        @media md
            font-size theme('fontSize.2xl')
