// https://github.com/tailwindcss/tailwindcss/issues/369#issuecomment-362269943
.spaced-y-6 {
  > *+* {
    @apply mt-6;
  }
}

.spaced-y-5 {
  > *+* {
    @apply mt-5;
  }
}

.spaced-y-4 {
  > *+* {
    @apply mt-4;
  }
}

.spaced-y-3 {
  > *+* {
    @apply mt-3;
  }
}

.spaced-y-2 {
  > *+* {
    @apply mt-2;
  }
}

.spaced-y-1 {
  > *+* {
    @apply mt-1;
  }
}

.spaced-x-5 {
  > *+* {
    @apply ml-5;
  }
}

.spaced-x-4 {
  > *+* {
    @apply ml-4;
  }
}

.spaced-x-3 {
  > *+* {
    @apply ml-3;
  }
}

.spaced-x-2 {
  > *+* {
    @apply ml-2;
  }
}
