body
    color theme('textColor.gray.900')
    background theme('textColor.gray.100')
    font-family theme('fontFamily.sans')
    line-height: theme('lineHeight.normal')

h1, h2, h3, h4, h5, h6
    line-height theme('lineHeight.tight')
    font-family theme('fontFamily.serif')
    color theme('colors.black')
    & +
    {$blocks}
        margin-top 0

h1
    font-size theme('fontSize.4xl')
    font-weight theme('fontWeight.extrabold')

h2
    font-size theme('fontSize.2xl')
    font-weight theme('fontWeight.bold')
    @media md
        font-size theme('fontSize.3xl')

.content
    h2
        @extends h2
        margin-top theme('margin.8')
        margin-bottom theme('margin.6')
        border-bottom 1px solid theme('colors.gray.400')
        padding-bottom .3rem

    h3, h4
        font-size theme('fontSize.xl')
        margin-top theme('margin.8')
        margin-bottom theme('margin.2')
        font-weight theme('fontWeight.semibold')
        @media md
            font-size theme('fontSize.2xl')

    h4, h5, h6
        margin-top theme('margin.4')
        margin-bottom theme('margin.3')
        font-size theme('fontSize.lg')
        @media md
            font-size theme('fontSize.xl')

    li
        margin-bottom theme('margin.3')

    p, ul, ol, blockquote
        margin-bottom theme('margin.8')

    blockquote
        font-size .9em
        color theme('colors.gray.600')
        border-left .5rem solid theme('colors.gray.400')
        margin theme('padding.6') 0
        padding theme('padding.2') theme('padding.6')
        > *
            &:first-child
                margin-top 0
            &:last-child
                margin-bottom 0

    em, strong
        color theme('colors.black')

    small
        color theme('colors.gray.600')
